.galleryPage
{

}

.galleryPage__description
{
    width: 70%;
    margin: var(--fontSizeLargest) 15% var(--fontSizeLargest) 15%;
    color: var(--fontColorFirm);
    font-size: var(--fontSizeMedium);
    // white-space: pre-wrap;
    white-space: normal;
}

.galleryPage__description p {
    font-style: normal;
    line-height: normal;
}

.galleryPage__description code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--inputBgColor);
    border-radius: 6px;
}

.galleryPage__description pre {
    background-color: var(--inputBgColor);
    border-radius: 6px;
    padding: 0.2em 0.4em;
}

.galleryPage__description ul {
    display: inline flow;
    display: flex;
    flex-direction: column;
}

.galleryPage__description li {
    line-height: 2rem;
    list-style-position: inside;
}

// .galleryPage__description a {
//     color: #10B981; // #0077CC
// }

.galleryPage__description p + p,
.galleryPage__description p + pre,
.galleryPage__description ul + p,
.galleryPage__description pre + p {
  margin-top: 1.25rem;
}
