.galleryPage
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition: all 0.5s;
    background: var(--bgColor);
}

.scrollWrapper
{
    height: 2px;
    flex: 1 1 auto;
    overflow-y: auto;
}

.galleryPage__description
{
    width: 70%;
    margin: var(--fontSizeLargest) 15% var(--fontSizeLargest) 15%;
    color: var(--fontColorFirm);
    font-size: var(--fontSizeMedium);
    white-space: pre-wrap;
}

.galleryPage__description code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--inputBgColor);
    border-radius: 6px;
}

.galleryPage__description pre {
    background-color: var(--inputBgColor);
    border-radius: 6px;
    padding: 0.2em 0.4em;
}

.galleryPage__description ul {
    display: inline flow;
}

.galleryPage__description li {
    line-height: 1.5rem;
    display: inline flow list-item;
}

.galleryPage__img {
    border-radius: var(--fontSizeMedium);
    width: 50% !important;
    height: auto !important;
    margin: 0 25%;
    position: static !important;
}
