
.markdownImage {
    border-radius: var(--fontSizeMedium);
    height: auto !important;
    margin: 0 25%;
    position: static !important;
    max-width: 50% !important;
    @media (orientation: portrait) {
        max-width: 100% !important;
        margin: 0;
    }
}

