.categoriesPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    padding: var(--fontSizeLarge) var(--fontSizeMedium);
    box-sizing: border-box;
    gap: 10px;
}

@media all and (min-width: 700px)
{
    .categoriesPage
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1000px)
{
    .categoriesPage
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.navLink
{
    text-decoration: none;
}
