@import "../../../shared/consts/styles.scss";

.searchBlock
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper
{
    margin: var(--fontSizeMedium) 0 var(--fontSizeMedium) 0;
    width: 100%;
}

.scrollBox_itemWrapper
{
    width: 60%;
    margin: var(--fontSizeLargest) auto 0 auto;
    @media all and (max-width: 1000px)
    {
        width: 80%;
    }
    @media all and (max-width: 700px)
    {
        width: 90%;
    }
}
