@import "../../../shared/consts/styles.scss";

.searchBlock
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper
{
    margin: var(--fontSizeSmall) 0 var(--fontSizeSmall) 0;
    width: 100%;
}

.listBoxSpacer 
{
    width: 6px;
}

.searchInputsWrapper
{
    margin: var(--fontSizeSmall) 0 var(--fontSizeSmall) 0;
    width: 100%;
    display: flex;
}

.scrollBox_itemWrapper
{
    width: 60%;
    margin: var(--fontSizeLargest) auto 0 auto;
    @media all and (max-width: 1000px)
    {
        width: 80%;
    }
    @media all and (max-width: 700px)
    {
        width: 90%;
    }
}

.searchInput {
    flex: 1 1 10px;
}