.darkToggle
{
  width: 32px;
  height: 32px;
  position: relative;
}

.darkToggle__checkBox
{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}