.darkToggle
{
  width: 32px;
  height: 32px;
  position: relative;
}

.darkToggle:hover svg {
  filter: drop-shadow(0 0 8px var(--activeLinkColor)) 
          drop-shadow(0 0 12px var(--activeLinkColor))
          brightness(1.2);
}

.darkToggle__checkBox
{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}