// @import "../../../app/globals.scss";

.header
{
  background-color: var(--mainColor);
  height: calc(var(--fontSizeLarge) * 2);
  min-height: 65px;
  display: flex;
  align-items: center;
  width: 100%;
}
