@import "../../../consts/styles.scss";

.portal
{
    position: relative;
    z-index: 3;
}

.photoViewBlock
{
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.photoViewToolBar
{
    height: calc(2 * var(--fontSizeLarge));
    min-height: calc(2 * var(--fontSizeLarge));
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
}

.photoViewToolBar_header
{
    top: 0;
    left: 0;
    justify-content: space-between;
}

.photoViewToolBar_footer
{
    bottom: 0;
    right: 0;
    justify-content: flex-end;
}

.photoViewToolBar__background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fontColorLight);
    opacity: 0.5;
    z-index: -1;
}

.photoViewToolBar__button
{
    min-width: var(--fontSizeLarge);
}

.imageWrapper
{
    height: 100%;
    width: 100%;
    // max-width: 100%;
    // max-height: 100%;
    // display: flex !important;
    // align-items: center;
    // justify-content: center;
    position: relative;
}

.image
{
    // margin: auto;
    // max-width: 100%;
    // max-height: 100%;
    object-fit: contain;
    object-position: center;
}

