// @import "../../../../app/globals.scss";

.buttonIcon {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.buttonIcon:active svg {
  transform: scale(1.2);
}

.buttonIcon_transparent {
    background: inherit;
}

.buttonIcon_medium {
    height: 24px;
    width: 24px;
}

.buttonIcon_large {
    width: 40px;
    height: 40px;
}

.buttonIcon_small {
    height: 14px;
    width: 14px;
}

.buttonIcon_mediumAdaptive {
    height: calc(2 * var(--fontSizeMedium));
    width: calc(2 * var(--fontSizeMedium));
}

.buttonIcon_smallAdaptive {
    height: calc(1.8 * var(--fontSizeSmall));
    width: calc(1.8 * var(--fontSizeSmall));
}

.buttonIcon_largeAdaptive {
    height: calc(2 * var(--fontSizeLarge));
    width: calc(2 * var(--fontSizeLarge));
}

.buttonIcon_grey {
    background-color: rgba(227, 228, 221, 0.5);
    padding: 6px;
}

.buttonIcon_grey:hover {
    background-color: rgba(227, 228, 221);
}