// @import "../../../../app/globals.scss";

.buttonIcon {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.buttonIcon:disabled {
    opacity: 0.5;
}

.buttonIcon svg {
  transition: filter 0.3s ease;
}

.buttonIcon:hover svg {
    // box-shadow: 0 2px 8px var(--shadowColor);
    // filter: drop-shadow(0 4px 4px var(--shadowColor));
    // filter: blur(2px) brightness(1.2);
    // filter: brightness(2);
    // filter: invert(100%) sepia(100%) hue-rotate(50deg) saturate(1000%);
    filter: drop-shadow(0 0 8px var(--activeLinkColor)) 
          drop-shadow(0 0 12px var(--activeLinkColor))
          brightness(1.2);
}

.buttonIcon:hover:disabled svg {
    filter: none;
}

.buttonIcon:active svg {
    transform: scale(1.2);
}

.buttonIcon:active:disabled svg {
    transform: none;
}

.buttonIcon_transparent {
    background: inherit;
}

.buttonIcon_medium {
    height: 24px;
    width: 24px;
}

.buttonIcon_large {
    width: 40px;
    height: 40px;
}

.buttonIcon_small {
    height: 14px;
    width: 14px;
}

.buttonIcon_mediumAdaptive {
    height: calc(2 * var(--fontSizeMedium));
    width: calc(2 * var(--fontSizeMedium));
}

.buttonIcon_smallAdaptive {
    height: calc(1.8 * var(--fontSizeSmall));
    width: calc(1.8 * var(--fontSizeSmall));
}

.buttonIcon_largeAdaptive {
    height: calc(2 * var(--fontSizeLarge));
    width: calc(2 * var(--fontSizeLarge));
}

.buttonIcon_grey {
    background-color: rgba(227, 228, 221, 0.5);
    padding: 6px;
}

// .buttonIcon_grey:hover {
//     background-color: rgba(227, 228, 221);
// }

.buttonIcon_mainColor {
    background: var(--mainColor);
}

.buttonIcon_transparentMainColor {
    background: transparent;
}

.buttonIcon_transparentMainColor:hover {
    background: var(--mainColor);
}
