.albumsListPage
{
    height: 100%;
    align-items: center;
    transition: all 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollBox
{
    width: 1300px;
    max-width: 100%;
    min-width: 60%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: var(--fontSizeLargest);
}

.albumBlock
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    // background: inherit;
    transition: background 1s;
    opacity: 1;
    font-size: var(--fontSizeMedium);
    min-height: calc(2 * var(--fontSizeMedium));
}


.scrollBox_itemWrapper
{
    width: 60%;
    margin: var(--fontSizeLargest) auto 0 auto;
    @media all and (max-width: 1000px)
    {
        width: 80%;
    }
    @media all and (max-width: 700px)
    {
        width: 90%;
    }
}
