@import "../../../shared/consts/styles.scss";

.scrollBox_itemWrapper
{
    width: 60%;
    margin: var(--fontSizeLargest) auto 0 auto;
    @media all and (max-width: 1000px)
    {
        width: 80%;
    }
    @media all and (max-width: 700px)
    {
        width: 90%;
    }
}

.albumBlock
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    // background: inherit;
    transition: background 1s;
    opacity: 1;
    font-size: var(--fontSizeMedium);
    min-height: calc(2 * var(--fontSizeMedium));
}

.navLink
{
    text-decoration: none;
}

.albumBlock__picturesSnap
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: 1fr 0 0 0 0 0;
    gap: 2px;
    overflow: hidden;
}

.albumBlock__picturesSnap div:nth-child(n+6)
{
    display: none;
}

@media all and (max-width: 1000px)
{
    .albumBlock__picturesSnap
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .albumBlock__picturesSnap div:nth-child(n+5)
    {
        display: none;
    }
}
@media all and (max-width: 700px)
{
    .albumBlock__picturesSnap
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .albumBlock__picturesSnap div:nth-child(n+4)
    {
        display: none;
    }
}

.albumBlock_notLast
{
    border-bottom: 1px solid $subColorGrey;
}

.albumBlock_current
{
    // background: $subColorLightGrey;
}

.albumBlock:hover
{
    cursor: pointer;
    opacity: 0.8;
}

.albumBlock__contents
{
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}


.albumBlock__header
{
    font-size: var(--fontSizeSmall);
    color: var(--fontColorFirm);
    width: 100%;
    //height: var(--fontSizeSmall) * 2;
    margin-top: 3px;

    display: flex;
    justify-content: space-between;
}

.albumBlock__name
{
    font-weight: bold;
    color: var(--fontColorFirm);
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block; //-block
    //width: 80%;
}

.albumBlock__name_current
{
    color: var(--fontColorGreenInverted);
}

.albumBlock__time
{
    color: var(--fontColorLight);
    font-weight: lighter;
    //float: right;
    display: inline;
    white-space: nowrap;
    //text-overflow: ellipsis;
    margin-right: 3px;
    margin-left: 3px;
    //justify-self: end;
    width: auto;
}

.albumBlock__tags
{
    display: flex;
    // overflow: hidden;
    flex-wrap: wrap;
    margin-top: 3px;
}

.albumBlock__loader
{
    height: 32px;
    margin: auto;
    background: inherit;
    display: block;
    shape-rendering: auto;
}

.albumBlock__tagItem
{
    margin: 0 calc(var(--fontSizeSmall) / 2) 3px 0;
}

