
$subColorGrey: #e3e4dd;
$subColorLightGrey: #c4ccce;
$bgColor: #f5f6fa;
$fontColorLight: grey;
$fontColorFirm: black;
$mainColor: #80eeb0;
$appleGreen: #4ed164;
$amadoRed: #f6a89e;
$darkGreen: #004422;
$fontSizeInput: 16px;