.imagesListItem
{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px;
    transition: transform 0.2s ease;
}

.imagesListItem_dragging
{
    opacity: 0.5;
    transform: scale(1.05);
    box-shadow: 0 4px 4px var(--shadowColor);
}

.imagesListItem__image
{
    width: 20%;
}

.imagesListItem__description
{
    flex: 1 1 5px;
    padding: 12px;
}

.imagesListItem__descriptionText
{
    font-size: var(--fontSizeBig);
    color: var(--fontColorLight);
}

.imagesListItem__progressBar
{
    flex: 0 0 50px;
    padding: 3px;
}

