.imagesListItem
{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px;
}

.imagesListItem__image
{
    width: 20%;
}

.imagesListItem__progressBar
{
    flex: 1 1 5px;
    padding: 3px;
}