.authPage {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bgColor);
}

.imageWrapper {
    width: 99%;
    max-width: 100px;
    background: inherit;
}

.imageWrapper:hover {
    opacity: 0.5;
    cursor: pointer;
}

.authPage__loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
}

.formInput {
    width: 100%;
}

.formSubmit {
    min-height: 38px;
    height: 38px;
    width: 100%;
    background: var(--mainColor);
    border-radius: 4px;
}

.formSubmit span {
  transition: filter 0.3s ease;
}

.formSubmit:hover span {
    filter: drop-shadow(0 0 8px var(--activeLinkColor)) 
          drop-shadow(0 0 12px var(--activeLinkColor))
          brightness(1.2);
}

.formSubmit__text {
    color: white;
    // font-weight: bold;
    font-size: var(--fontSizeMedium);
}

.formSubmit:disabled:hover span {
    filter: none;
}

.formInput__label {
    color: var(--fontColorLight);
    font-size: var(--fontSizeTiny);
    font-weight: bold;
}

.formInput__input {
    width: 100%;
}

.errorMessage {
    color: red;
    transform: translate();
}